main {
    background-color: rgb(9, 104, 141);
    margin: auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.397);
}

h1 {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}

label {
    font-size: 1.2em;
}

input {
    border: none;
    height: 28px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.479);
    font-size: 15px;
    box-sizing: border-box;
    padding: 0px 10px;
    width: 170px;
}

.input {
    width: 245px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#btn {
    background-color: rgb(3, 37, 56);
    font-size: 1.1em;
    border: none;
    width: 245px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

#btn:hover {
    background-color: white;
    color: rgb(3, 37, 56);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.212);
    transform: scale(1.02);
}

#resultado {
    width: 290px;
    height: 150px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    padding: 15px;
    font-size: 18px;
}
